@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition:all 0.3s linear;
}

html{
	font-size: 62.5%;
	outline: none !important;
}

a{
	text-decoration: none !important;
}
body{
	font-family: Poppins;
}
.wrapper{
	overflow: hidden;
}
.br-radius{
	width: 180px;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	overflow: hidden;
}
.app-text{
	font-size: 12px;
	color: #fff;
}
.br-radius img{
	width: 100%;
}

.bg-top-btm{
	background: linear-gradient( rgb(87, 184, 251),rgb(86, 90, 229));

}
.bg-top-btm:hover{
	background: linear-gradient(rgb(86, 90, 229),rgb(87, 184, 251));
	
}

.btns{
	padding: 7px 20px;
	border-radius: 30px;
	font-size: 15px;
	display: inline-block;
	margin: 5px;
}


/*
===============================================
	HEADER SECTION START
===============================================
*/

	/*----- NAVBAR SECTION START -----*/
#navbar_top{
	box-shadow: 0 0 20px -10px grey;
}
.header-section .navbar{
	background: #fff;
}
.header-section .navbar .navbar-brand img{
	width: 150px;
	margin-right: 30px;
}
.header-section .navbar .navbar-left li a{
	font-size: 15px;
	color: #333;
	font-weight: 500;
	margin: 0px 8px;
	text-transform: capitalize;
	display: inline-block;
}
.header-section .navbar .navbar-left li a:hover{
	color: rgb(86, 90, 229);
}
.header-section .navbar .navbar-left li a.social-icon{
	font-size: 13px;
	color: #fff;
	margin-top: -5px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-section .navbar .navbar-right li a .profile-container{
	display: flex;
	align-items: center;
	font-size: 15px;
}
.header-section .navbar .navbar-right li a .profile-container .profile-img{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: #222;
	margin-right: 10px;
}
.header-section .navbar .navbar-right li a .profile-container .profile-img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.header-section .navbar .navbar-right li a.top-btn{
	/*margin-left: 15px;*/
	display: inline-block;
	padding: 5px 10px;
	color: #fff;
	border-radius: 20px;
	font-size: 15px;
	margin-top: 2px;
}
.header-section .navbar .navbar-right li a i{
	font-size: 15px;
	margin: 10px;
}
.dropDown{
	position: relative;
}

.dropDown:hover .dropdownMenu{
	display: block;
}

.dropdownMenu{
	width: 150px;
	border: 1px solid lightgrey;
	display: none;
	background: #fff;
	position: absolute;
	z-index: 100;
}
.dropdownMenu a{
	display: block;
}

/*.dropbtn {
	background-color: #fff;
	color: #333;
	padding: 0px;
	margin: 0px, 8px;
	font-size: 15px;
	border: none;
	cursor: pointer;
	
	font-weight: 500;
  }*/
  
  /* The container <div> - needed to position the dropdown content */
/*  .dropdown {
	position: relative;
	display: inline-block;
  }
  */
  /* Dropdown Content (Hidden by Default) */
/*  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #fff;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }*/
  
  /* Links inside the dropdown */
 /* .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }*/
  
  /* Change color of dropdown links on hover */
 /* .dropdown-content a:hover {background-color: #fff}
  
   Show the dropdown menu on hover 
  .dropdown:hover .dropdown-content {
	display: block;
  }*/
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
 /* .dropdown:hover .dropbtn {
	background-color: #fff;
  }*/
	/*----- NAVBAR SECTION END -----*/

	/*----- HEADER CONTENT START -----*/

.header-content{
	padding-top: 80px;
	padding-bottom: 150px;
	background: url('../img/header3.png');
	background-position: center;
	background-size: cover;
	margin-bottom: 20px;
	/*clip-path: polygon(0 0, 100% 0%, 99% 71%, 86% 74%, 78% 76%, 69% 80%, 63% 85%, 54% 87%, 44% 87%, 33% 83%, 23% 80%, 14% 78%, 7% 77%, 0 76%);*/
}
.header-content .header-text h1{
	font-size: 40px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	margin: 10px 0;
}
.header-content .header-text h3{
	font-size: 24px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	margin: 10px 0;

}
.header-content .header-text p{
	font-size: 15px;
	color: #fff;
	margin: 20px 0;
}
.header-content .header-text .header-btn{
	margin: 20px 0;
	display: flex;
	flex-wrap: wrap;
}
.header-content .header-text .header-btn a{
	padding: 5px 15px;
	border-radius: 30px;
	font-size: 15px;
	color: #fff;
	/*border: 1px solid lightgrey;*/
	margin-right: 10px;
	display: inline-block;
	margin: 5px;


}
.header-content .header-text .header-btn a:nth-child(2){
	border: 1px solid lightgrey;
}
.header-content .header-text .header-btn a:nth-child(2):hover{
	border: 1px solid transparent;
	
	background: linear-gradient(rgb(86, 90, 229),rgb(87, 184, 251));
	transition: 0s;

}


	/*----- HEADER CONTENT END -----*/
/*
===============================================
	HEADER SECTION END
===============================================
*/

/*
===============================================
	JOIN SECTION START
===============================================
*/
.join-section{
	margin: 100px 0;
}
.join-section .join-content{
	margin: 20px 0;
}
.join-section .join-content .circle-box{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin: 10px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(rgb(86, 90, 229),rgb(87, 184, 251));
	position: relative;

}
.join-section .join-content .circle-box:after{
	content: '';
	position: absolute;
	right: -5px;
	top: 5px;
	background: #ebe5fe;
	border-radius: 50%;
	width: 50%;
	height:50%;
	z-index: -1;
}
.join-section .join-content .circle-box:before{
	content: '';
	position: absolute;
	left: -10px;
	top: -10px;
	background: #ebe5fe;
	border-radius: 50%;
	width: 90%;
	height: 90%;
	z-index: -1;
}
.join-section .join-content h4{
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}

.join-section .join-btn{
	margin: 20px 0;
}
.join-section .join-btn a{
	color: #fff;
}
/*
===============================================
	JOIN SECTION END
===============================================
*/

/*
===============================================
	HYBRIDAND SECTION START
===============================================
*/
.hybridand-section{
	padding: 60px 0;
	background: #f7f7ff;
	margin: 60px 0; 
	clip-path: polygon(0 4%, 100% 0, 100% 98%, 0 94%);
}
.hybridand-section .hybrid-title{
	margin: 40px 0;
}
.hybridand-section .hybrid-title h4{
	font-size: 32px;
	font-weight: bold;
	line-height: 1.5;
	margin: 10px 0;
}
.hybridand-section .hybrid-title p{
	font-size: 15px;
	margin: 10px 0;
}

.hybridand-section .hybrid-card{
	padding: 15px;
	margin: 10px 0;
	border-radius: 20px;
	border-bottom: 3px solid #b4b5fe;
	background: #fff;
	position: relative;
	z-index: 1;
}
.hybridand-section .hybrid-card .hybrid-card-icon{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: linear-gradient( rgb(87, 184, 251),rgb(86, 90, 229));
	margin: 5px;
	margin-left: auto;
	/*z-index: 1;*/
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.hybridand-section .hybrid-card .hybrid-card-icon:after{
	content: '';
	position: absolute;
	right: -5px;
	top: 15px;
	background: #ebe5fe;
	border-radius: 50%;
	width: 50%;
	height:50%;
	z-index: -1;
}
.hybridand-section .hybrid-card .hybrid-card-icon:before{
	content: '';
	position: absolute;
	left: 0px;
	top: -10px;
	background: #ebe5fe;
	border-radius: 50%;
	width: 90%;
	height: 90%;
	z-index: -1;
}
.hybridand-section .hybrid-card .hybrid-card-icon img{
	width: 22px;
}
.hybridand-section .hybrid-card h5{
	font-size: 20px;
	font-weight: bold;
	text-transform: lowercase;

}
.hybridand-section .hybrid-card h6{
	font-size: 18px;
	font-weight: bold;
	color: #6263fd;
	text-transform: lowercase;
}
.hybridand-section .hybrid-card small{
	font-size: 9px;
	color: #b4b5fe;
	font-weight: 500;
	text-transform: capitalize;
}
.hybrid-btn{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.hybrid-btn a{
	color: #fff;
}
.hybrid-btn a:nth-child(2){
	/*border-top: 1px solid #b4b5fe;
	border-left: 2px solid #b4b5fe;
	border-bottom: 1px solid #6263fd;*/
	border: 1px solid #6263fd;
	border-top: 2px solid #6263fd;
	margin: 10px;
	color: #333;
}
/*
===============================================
	HYBRIDAND SECTION END
===============================================
*/

/*
===============================================
	INCOME SECTION START
===============================================
*/

.income-section{
	margin: 100px 0;
}
.income-section .section-title{
	margin: 40px 0;

}
.income-section .section-title h1{
	font-size: 32px;
	font-weight: bold;
	margin: 10px 0;
}
.income-section .section-title small{
	font-size: 13px;
	font-weight: 500;
}

.income-section .top-farms-container{
	background: #f6f6ff;
	border-radius: 20px;
	padding: 20px;
	margin: 20px 0;
}
.income-section .top-farms-container h3{
	font-size: 20px;
	font-weight: bold;
	color: #548cfa;
	margin-bottom: 20px;
	margin-left: 30px;
}
.income-section .top-farms-container .farm-box h6{
	font-size: 12px;
	font-weight: bold;
	color: #548cfa;
}
.income-section .top-farms-container .farm-box b{
	font-size: 13px;

}
.income-section .top-farms-container .farm-box p{
	font-size: 14px;
	color: grey;
	font-weight: 500;
}
.br-left{
	border-left: 1px solid #548cfa;
}

.about-icome{
	margin: 50px 0;
}
.about-icome .income-circle{
	width: 110px;
	height: 110px;
	border-radius: 50%;
	margin: 10px auto;
	background: linear-gradient( rgba(87, 184, 251,0.7), rgba(86, 90, 229,0.7));
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.about-icome .income-circle:after{
	content: '';
	position: absolute;
	left: -10px;
	top: -10px;
	background: #ebe5fe;
	border-radius: 50%;
	width: 100%;
	height:100%;
	z-index: -1;
}
.about-icome .income-circle:before{
	content: '';
	position: absolute;
	right: -10px;
	top: 20px;
	background: #ebe5fe;
	border-radius: 50%;
	width: 70%;
	height:70%;
	z-index: -1;
}
.about-icome .income-circle a{
	font-size: 13px;
	color: #fff;
	text-align: center;
	font-weight: bold;
}
/*
===============================================
	INCOME SECTION END
===============================================
*/

/*
===============================================
	POST SECTION START
===============================================
*/
.post-section {
	margin: 20px 0;
	padding: 60px 0;
	background: #0b0c38;
}
.post-section .post-container{
	margin: 10px 0;
}
.post-section .post-container h2{
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
	color: #58b4fd;
}
.post-section .post-container p{
	margin: 20px 0;
	color: #fff;
	font-size: 13px;
}
/*
===============================================
	POST SECTION END
===============================================
*/

/*
===============================================
	COMMUNITY SECTION START
===============================================
*/
.community-section{
	padding: 40px 0;
	margin: 80px 0;
}
.community-section .community-content h1{
	font-size: 30px;
	font-weight: bold;
	margin: 10px 0;

}
.community-section .community-content p{
	font-size: 14px;
	font-weight: 500;
	margin: 20px 0;
}
.community-section .community-content .community-btn{
	margin: 30px 0;
	display: flex;
	flex-wrap: wrap;
}
.community-section .community-content .community-btn a{
	margin: 10px;
	margin-left: 0;
	color: #fff;
	font-weight: 500;
}
.community-section .community-content .community-btn a:nth-child(2),
.community-section .community-content .community-btn a:nth-child(3){
	border: 1px solid #6263fd;
	color: #333;
}
.community-section .community-content .community-btn a:nth-child(2):hover,
.community-section .community-content .community-btn a:nth-child(3):hover{
	color: #fff;
	background: linear-gradient(rgb(86, 90, 229),rgb(87, 184, 251));
	/*border: 1px solid transparent;*/
}


.community-card .community-card-container{
	border-radius: 20px;
	background: #f6f6ff;
	padding: 20px;
}
.community-card .community-card-container .community-prof{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	/*border: 1px solid #6263fd;*/
	margin: 10px;
}
.community-card .community-card-container .community-prof img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.community-card .community-card-container .community-card-content{
	margin: 10px 0;
	position: relative;
}
.community-card-container .community-card-content:nth-child(1):after{
	content: '';
	position: absolute;
	width: 70%;
	height: 1px;
	background: #6263fd;
	left: 50%;
	bottom: -10px;
	transform: translate(-50%);
}

.community-card-container .community-card-content:nth-child(1):before{
	content: '';
	position: absolute;
	height: 100%;
	width: 1px;
	/*border-right: 1px solid #6263fd;*/
	background: #6263fd;

	right: 0px;
	transform: translate(-50%);
}
.community-card-container .community-card-content:nth-child(4):after{
	content: '';
	position: absolute;
	width: 70%;
	height: 1px;
	background: #6263fd;
	left: 50%;
	top: -10px;
	transform: translate(-50%);
}
.community-card-container .community-card-content:nth-child(4):before{
	content: '';
	position: absolute;
	height: 100%;
	width: 1px;
	/*border-left: 1px solid #6263fd;*/
	background: #6263fd;
	left: 0px;
	transform: translate(-50%);
}
.community-card-container .community-card-content h6{
	font-size: 11px;
	color: #548cfa;
	font-weight: bold;
}
.community-card-container .community-card-content b{
	font-size: 13px;
}
/*
===============================================
	COMMUNITY SECTION END
===============================================
*/

/*
===============================================
	 WALLET SECTION START
===============================================
*/
.wallet-section{
	padding: 100px 0;
	background: #0b0c38;
	clip-path: polygon(0 8%, 100% 0, 100% 95%, 0 100%);
	
}
.wallet-section .section-title{
	margin-top: 20px;
}
.wallet-section .section-title h1{
	font-size: 32px;
	font-weight: bold;
	margin: 20px 0;
	color: #fff;
}
.wallet-section .section-title p{
	font-size: 13px;
	color: #fff;
}
.wallet-section .wallet-content{
	margin: 20px 0;
}
.wallet-section .wallet-content h4{
	font-size: 18px;
	font-weight: bold;
	color: #6263fd;
	margin: 10px 0;
}
.wallet-section .wallet-content p{
	font-size: 13px;
	font-weight: 400;
	margin-bottom: 30px;
	color: #fff;

}
/*
===============================================
	 WALLET SECTION END
===============================================
*/

/*
===============================================
	 CRYPTO SECTION START
===============================================
*/
.crypto-section{
	margin: 50px 0;
	margin-bottom: 0;
	padding: 50px 0;
	padding-bottom: 10px;
	margin-bottom: -70px;
}

.crypto-section .section-title h1{
	font-size: 32px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.5;
	margin: 20px 0;
}

.crypto-section .section-title p{
	font-size: 15px;
	margin: 20px 0;
	font-weight: 500;
}
.crypto-section .section-title .crypto-btn{
	margin: 30px 0;
}
.crypto-section .section-title .crypto-btn a{
	color: #fff;

}
.crypto-section .section-title .crypto-btn a:nth-child(2){
	color: #6263fd;
	border: 1px solid #6263fd;
	margin-left: 5px;
}
.crypto-section .section-title .crypto-btn a:nth-child(2):hover{
	color: #fff;
	background: linear-gradient(rgb(86, 90, 229),rgb(87, 184, 251));

}
/*
===============================================
	 CRYPTO SECTION END
===============================================
*/

/*
===============================================
	NEWS SECTION START
===============================================
*/
.news-section{
	margin: 0px 0; 
	margin-top: -80px;
	padding: 10px;

}
.brand-section {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid rgb(87, 184, 251);
	margin-bottom: 40px;
}
.brand-img{
	padding: 0 10px;
}
.brand-img img{
	width: 100%;
}
.brand-sub-img img{
	width: 60% !important;
	margin-left: 20px;
	/*margin: auto;*/
	margin-top: 10px;
	display: inline-block;
}

.brand-section .owl-nav{
	width: 100%;
	position: absolute;
	top: 0%;
	left: 50%;
	transform: translate(-50%);
}
.brand-section .owl-nav span{
	font-size: 80px;
	font-weight: 200;
	height: 40px !important;
	padding: 0;
	color: grey;
}
.brand-section .owl-nav .owl-prev{
	position: absolute;
	left: -50px;
	
}
.brand-section .owl-nav .owl-next{
	position: absolute;
	right: -50px;
}





.post-news-section .post-top{
	background: #2e2e2e;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.post-news-section .post-top .post-bars{
	background: #326992;
	width: 35px;
	height: 35px;
	display: flex; 
	justify-content: center;
	align-items: center;
}
.post-news-section .post-top .post-bars i{
	color: #fff;
	font-size: 18px;
}
.post-news-section .post-top .post-logo h3{
	color: #fff;
	margin: 0;

}
.post-news-section .post-top .post-search{
	background: #434343;
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.post-news-section .post-top .post-search i{
	color: #fff;
	font-size: 17px;
}


.post-header .home{
	display: block;
	border-bottom: 1px solid grey;
	padding: 5px;
	font-size: 15px;
}
.post-header h6{
	font-size: 15px;
	font-weight: 400;
	color: grey;
	margin: 5px 0;
}
.post-header h2{
	font-size: 18px;
	font-weight: bold;
}
.post-header .time{
	font-size: 12px;
	color: grey;
}







.news-section .section-title{
	margin: 40px 0;

}
.news-section .section-title h1{
	font-size: 32px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 20px 0;
}
.news-section .section-title p{
	font-size: 15px;
	font-weight: 500;
}
.news-section .news-post{
	position: relative;
}
.news-section .news-post .news-post-text{
	background: #fff;
	width: 93%;
	position: absolute;
	top: 90%;
	padding: 10px;
}
.news-section .news-post .news-post-text span{
	display: block;
	font-size: 12px;
	font-weight: bold;
	color: grey;
}
.news-section .news-post .news-post-text p{
	font-size: 15px;
}

.sub-news-post{
	position: relative;
	margin-bottom: 80px;
}
.sub-news-post .news-post-text{
	background: #fff;
	width: 93%;
	position: absolute;
	top: 90%;
	padding: 10px;
}
.sub-news-post .news-post-text span{
	display: block;
	font-size: 9px;
	font-weight: bold;
	color: grey;
}
.sub-news-post .news-post-text p{
	margin-bottom: 0;
	font-size: 10px;
	font-weight: 500;

}

.post-news-post .news-post-text{
	margin-bottom: 20px;
}
.post-news-post .news-post-text span{
	font-size: 9px;
	color: grey;
	font-weight: bold;
}
.post-news-post .news-post-text p{
	font-size: 10px;
	font-weight: 500;
	margin-bottom: 20px;
}

.news-btn{
	margin: 40px 0;
}
.news-btn a{
	color: #fff;

}

/*
===============================================
	NEWS SECTION END
===============================================
*/
/*
===============================================
	HASHTAG SECTION START
===============================================
*/
.hashtag-section{
	margin: 100px 0;
	margin-top: 50px;
}
.hashtag-section .section-tag{

	display: flex;
	justify-content: center;
	flex-wrap: wrap;

}
.hashtag-section .section-tag h1{
	margin: 10px;
	font-size: 32px;
	font-weight: bold;
	text-transform: uppercase;
}
.hashtag-section .tag-post{
	background: #eff4f8;
	border-radius: 20px;
	margin: 30px 0;
}

.hashtag-section .tag-post img{
	width: 100%;
	margin: 15px 0;
}
.hashtag-section .hashtag-btns{
	margin: 40px 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.hashtag-section .hashtag-btns a{
	color: #fff;
	display: inline-block;
	margin: 5px;
}
.hashtag-section .hashtag-btns a:nth-child(2){
	color: #6263fd;
	border: 1px solid #6263fd;
	
}
.hashtag-section .hashtag-btns a:nth-child(2):hover{
	color: #fff;
	background: linear-gradient(rgb(86, 90, 229),rgb(87, 184, 251));

}
/*
===============================================
	HASHTAG SECTION END
===============================================
*/
/*
===============================================
	FOOTER SECTION START
===============================================
*/
.footer-section{
	padding: 60px 0;
	padding-bottom: ;
	background: #0b0c38;
}
.footer-section .footer-content{
	margin: 20px 0;
}
.footer-section .footer-content h4{
	font-size: 18px;
	color: #fff;
	margin: 10px 0;
}
.footer-section .footer-content ul li a{
	font-size: 14px;
	color: #fff;
	/*margin: 3px 0;*/
	display: inline-block;
}
.footer-section .footer-content:last-child ul li a{
	margin: 5px 10px;


}
.footer-section .footer-content:last-child ul li a i{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	color: #0b0c38;
	background: #cdcdd7;
	display: flex;
	justify-content: center;
	align-items: center;
}
/*
===============================================
	FOOTER SECTION END
===============================================
*/